@{
    ViewBag.Title = "Trang Chủ";
}

<div class="p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-bold text-blue-600">Chào mừng bạn đến với Smart-Table!</h1>
    <p class="mt-4 text-gray-700">
        Giao diện Tailwind đang chạy bằng CDN Script.
    </p>
</div>